<section ng-if='$ctrl.weather'>
  <ul>
  <li ng-repeat='day in $ctrl.weather.data |limitTo:1'>
  <header>
    <h1>Precipitation Probability: {{ day.precipProbability * 100 | number:2 }}%</h1>
    <!-- <img ng-src="{{ $ctrl.imageLookup[ctrl.weatherData.icon] }}" /> -->
    <h1>{{ day.time * 1000 | date:"short" }}</h1>
  </header>
<main class="row">
    <div class="col-md-4">
    <h1>Humidity: {{ day.humidity * 100 | number:0 }}%</h1>
    </div>
    <div class="col-md-4">
      <h1>Precipitation Probability: {{ day.precipProbability * 100 | number:2 }}%</h1>
    </div>
    <div class="col-md-4">
    <h1>UV Index: {{ day.uvIndex }}</h1>
    </div>
  </main>

  <footer>

  </footer>
</li>
</ul>
</section>
<!-- <pre>{{ $ctrl.weather | json }}</pre> -->
