<section>
    <div>
      <label> Latitude</label>
      <input type="number" ng-model="$ctrl.lat" />
    </div>
    <div>
      <label>Longitude</label>
      <input type="number" ng-model="$ctrl.lon" />
    </div>
    <div>
      <button type="button" ng-click='$ctrl.search()'>Search</button>
    </div>
</section>

<section ng-if='$ctrl.hourlyWeather'>
  <ul>
  <li ng-repeat='hour in $ctrl.hourlyWeather.data |limitTo:1'>
  <header>
    <h1>Precipitation Probability: {{ hour.precipProbability * 100 | number:2 }}%</h1>
    <!-- <img ng-src="{{ $ctrl.imageLookup[ctrl.weatherData.icon] }}" /> -->
    <h1>{{ hour.time * 1000 | date:"short" }}</h1>
  </header>

  <main>
    <h1>Humidity: {{ hour.humidity * 100 | number:0 }}%</h1>
    <div>
      <h1>Actual Temperature: {{ hour.temperature | number:0 }}&deg;F</h1>
      <h2>Feels like: {{ hour.apparentTemperature | number:0 }}&deg;F</h2>
    </div>
    <h1>UV Index: {{ hour.uvIndex }}</h1>
  </main>

  <footer>
    <h1>Summary: {{ hour.summary }}</h1>
  </footer>
</li>
</ul>
</section>
<pre>{{ $ctrl.hourlyWeather | json }}</pre>
