    <section ng-if='$ctrl.weather'>
      <header>
        <h1>Chance of Rain: {{ $ctrl.weather.precipProbability * 100 | number:2 }}%</h1>
        <img ng-src="{{ $ctrl.imageLookup[$ctrl.weather.icon] || $ctrl.missingImage }}" />
        <h1>{{ $ctrl.weather.time * 1000 | date:"short" }}</h1>
      </header>
      <main>
        <h1>Humidity: {{ $ctrl.weather.humidity * 100 | number:0 }}%</h1>
        <div>
          <h1>Actual Temperature: {{ $ctrl.weather.temperature | number:0 }}&deg;F</h1>
          <h2>Feels like: {{ $ctrl.weather.apparentTemperature | number:0 }}&deg;F</h2>
        </div>
        <h1>UV Index: {{ $ctrl.weather.uvIndex }}</h1>
      </main>
      <footer>
        <h1>Summary: {{ $ctrl.weather.summary }}</h1>
      </footer>
    </section>
    <!-- <pre>{{ $ctrl.weather | json }}</pre> -->
